@import "vars";

.bordered-shadow-box {
  border: @white-green 1px solid;
  box-shadow: 3px 2px 12px @box-shadow;
  -moz-box-shadow: 3px 2px 12px @box-shadow;
  -webkit-box-shadow: 3px 2px 12px @box-shadow;
}

.shadowed-box(@left: 0px, @top: 12px, @blur: 12px, @size: 0px) {
  box-shadow: @left @top @blur @size @box-shadow;
  -moz-box-shadow: @left @top @blur @size @box-shadow;
  -webkit-box-shadow: @left @top @blur @size @box-shadow;
}

