.bordered-shadow-box {
  border: #f0fff8 1px solid;
  box-shadow: 3px 2px 12px #272727;
  -moz-box-shadow: 3px 2px 12px #272727;
  -webkit-box-shadow: 3px 2px 12px #272727;
}
body {
  margin: 0;
}
body #topbar {
  position: fixed;
  width: 74.4%;
  height: 44px;
  margin: 0 13%;
  z-index: 2;
  background-color: #3d3d3d;
  opacity: 0.9;
  filter: alpha(opacity=90);
  text-align: center;
  box-shadow: 0px 12px 12px 0px #272727;
  -moz-box-shadow: 0px 12px 12px 0px #272727;
  -webkit-box-shadow: 0px 12px 12px 0px #272727;
}
body #topbar span.title {
  color: #9dffe7;
  display: inline-block;
  font-size: 16pt;
  font-variant: small-caps;
}
body #topbar span.content {
  color: #f0fff8;
  font-size: 11pt;
  display: block;
  margin-top: 1px;
}
body #topbar #most-ordered {
  margin: 0 5px;
  line-height: 16px;
}
body #btn-refresh {
  display: none;
}
body #btn-back {
  display: none;
}
body #map-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}
body #map-canvas #btn-refresh {
  display: block;
  padding-right: 10px;
  padding-left: 15px;
  width: 44px;
  background-color: #3d3d3d;
  color: #f0fff8;
  cursor: pointer;
  box-shadow: -3px 2px 12px 0px #272727;
  -moz-box-shadow: -3px 2px 12px 0px #272727;
  -webkit-box-shadow: -3px 2px 12px 0px #272727;
}
body #map-canvas #btn-back {
  display: block;
  padding-right: 15px;
  padding-left: 10px;
  background-color: #3d3d3d;
  color: #f0fff8;
  cursor: pointer;
  box-shadow: 3px 2px 12px 0px #272727;
  -moz-box-shadow: 3px 2px 12px 0px #272727;
  -webkit-box-shadow: 3px 2px 12px 0px #272727;
}
body #map-canvas .info-wnd-content .name {
  display: block;
  font-size: 17pt;
}
body #map-canvas .info-wnd-content .price {
  display: block;
  font-size: 22pt;
  text-align: center;
}
