@import "vars";
@import "mixins";

body {
  margin: 0;

  #topbar {
    position: fixed;
    width: 74.4%;
    height: 44px;
    margin: 0 13%;
    z-index: 2;
    background-color: @box-background;
    opacity: 0.9;
    filter: alpha(opacity=90);
    text-align: center;
    .shadowed-box();

    span {
      &.title {
        color: @pale-green;
        display: inline-block;
        font-size: 16pt;
        font-variant: small-caps;
      }

      &.content {
        color: @white-green;
        font-size: 11pt;
        display: block;
        margin-top: 1px;
      }
    }

    #most-ordered {
      margin: 0 5px;
      line-height: 16px;
    }
  }

  #btn-refresh {
    display: none;
  }

  #btn-back {
    display: none;
  }

  #map-canvas {
    position: absolute;
    width: 100%;
    height: 100%;

    #btn-refresh {
      display: block;
      padding-right: 10px;
      padding-left: 15px;
      width: 44px;
      background-color: @box-background;
      color: @white-green;
      cursor: pointer;
      .shadowed-box(-3px, 2px, 12px, 0px);
    }

    #btn-back {
      display: block;
      padding-right: 15px;
      padding-left: 10px;
      background-color: @box-background;
      color: @white-green;
      cursor: pointer;
      .shadowed-box(3px, 2px, 12px, 0px);
    }

    .info-wnd-content {
      .name {
        display: block;
        font-size: 17pt;
      }

      .price {
        display: block;
        font-size: 22pt;
        text-align: center;
      }
    }
  }
}
